<% include  partials/header %>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="card">
			<div class="card-header card-header-tabs" data-background-color="green">
				<div class="nav-tabs-navigation">
					<div class="nav-tabs-wrapper">
						<span class="nav-tabs-title"><h1 class="card-title">Add Package</h1></span>
						<ul class="nav nav-tabs" data-tabs="tabs">

						</ul>
					</div>
				</div>
			</div>
			<div class="card-content">
				<div id="result"></div>
				<form  method="post"  id="form_admin" enctype="multipart/form-data">
					<div class="form-group label-floating">
						<label class="control-label">Package Name</label>
						<input type="text" class="form-control" id="package_name" required name="package_name">
					</div>

					<div class="form-group label-floating">
						<label class="control-label">Package Speed</label>
						<input type="text" class="form-control" id="package_speed" required  name="package_speed">
					</div>

					<div class="form-group label-floating">
						<label class="control-label">Package Price</label>
						<input type="number" step="any" class="form-control" id="package_price" required name="package_price" >
					</div>

					<div class="form-group label-floating">
						<label class="control-label">Package Type</label>
						<select name="package_type" id='package_type' required class="form-control">
							<option disabled="" selected=""></option>
							<option value='Prepaid'>Prepaid</option>
							<option value='Postpaid'>Postpaid</option>
						</select>
					</div>
					<input type="hidden"  id="id_isp" required name="id_isp" value = "<%=id_isp%>" >

					<button type="submit" name="submit" class="btn btn-fill btn-success" value="submit">Submit</button>
					<a href="/isp/package?id_isp=<%=id_isp%>" class="btn btn-fill btn-success">Back</a>
				</form>
			</div><!-- end of class form_area -->
		</div><!-- end of class container  -->
	</div>
</div>

	<% include  partials/footer %>

<script type="text/javascript">

$(document).ready(function(){

		$("#form_admin").validate({

			submitHandler: function (form) {
				var reqData = $("#form_admin").serialize();

				$.ajax({
					type:"POST",
					contentType: "application/x-www-form-urlencoded",
					dataType:"json",
					data: reqData,
					url: "/isp/add_package_now",

					success:function(response) {
						if(response.status === 'success') {
								showNotification(2,response.msg);
						}else if(response.status === 'warning') {
								showNotification(3,response.msg);
						}else if(response.status === 'failed') {
								showNotification(4,response.msg);
						}
					},
					error: function (result) {
						   showNotification(3,"Error " + JSON.stringify(result));
					}
				});
			}
		});
});

</script>
