/* footer */
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    text-align: center;
    /*left: 150px;*/
    z-index: 9;
    padding-top: 25px;
}

/* left side fix nav */
.container {
  margin-top: 30px !important;
  margin-bottom: 70px;
  padding-top: 50px;
}

.navbar-fixed-left {
  position: fixed;
  display: block;
  border-radius: 0;
  width: 200px;
  height: 100%;
  z-index: 10;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 199px;
}

.navbar-fixed-left + .container {
  padding-left: 210px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 70%;
    }
}
/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}
/* end of left side fix nav */

/* Loader */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

.icon-margin {
  margin-right: 10px;
}

.highcharts-credits {
  display: none;
}

/* End Loader */


/* bootstarp hack */
.navbar-left-space {
  margin-left: 150px;
}

.btn-outline-success {
    height: 35px;
    color: #5cb85c;
    background-image: none;
    background-color: #5cb85c;
    border: 2px solid #5cb85c;
    margin-top: 8px;
    margin-right: 5px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.navbar {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

.navbar-default {
  background-color: #2196F3;
  border-color: #2196F3;

}

.navbar-default ul {
  background-color: #2196F3;
  border-color: #2962FF;

}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #2962FF !important;

}

.pagination > li > a, .pagination > li > span{
	background-color: #ccc;


}



.navbar-default ul a:hover {
  background-color: #2962FF;
}

.navbar-default a:active {
  background-color: #2962FF !important;
}


.navbar-default div, a {
  color: #ffffff !important;
}
a.dt-button {
	background-image: none;
	background-color: #2196F3 ;

}

.dt-buttons a.dt-button:hover{

	background-image: none;
	background-color: #337AB7 !important;

}
/* end of bootstrap hack */

/* header search bar */
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group label {
  color: #000;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 350px;
        margin: 0 auto;
        padding-top: 7px;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 350px;
    }
}
/* end header search bar */

.search-option-box {
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 10px;
  box-shadow: 5px 5px 2px #888888;
}

.login-bg {
  background: url('../img/background.png') no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}

.main-bg {
  background: url('../image/back-bus2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}

.qrcode {
  margin: auto auto;
}

.ticket-table {
  margin: auto auto;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ticket-table tr {
  border: 2px solid #0c0c0c;
}

.ticket-table th {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #0c0c0c;
  background-color: #a0a0a0;
}

.ticket-table td {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #0c0c0c;
}

.padding-top {
  padding-top: 10px;
}

/* login page company name display */
.company-name h3 {
  margin: auto auto;
  width: 100%;
  text-align: center;
  color: #0D47A1;
}

.frm-login {
  border: 2px solid #efefef;
  padding-top: 5px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(250, 250, 250, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.status_area_indiv{
	margin: 0 auto;
	text-align: left;
  padding: 2px;
}

.red_bg{
	background-color: red;
}

.green_bg{
	background-color: green;
}

.service_status_indicator{
	width: 150px;
  display: inline-block;
  padding: 3px;
}

.dropdown-menu{
	background-color: #2196F3 !important;
}
.navbar-inverse{
	 background-color: #2196F3 !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{

	background-color: #286090;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
	background-color: #286090;
}

.error{
	color:#a94442 !important;
}

#result{
	color: #000000;
	/*border: 1px solid red;*/
	text-align: center;
}

.admin_menu{
	max-width:340px;
	margin: 0 auto;

}
.success,.wait{
	color:green;

}


.already{
	color:red;
}
.form_area{
	max-width:600px;
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 10px 10px;
	margin-top:10px;

	border-radius: 7px;
	-moz-border-radius: 7px;

}

.form_show_info{

	text-align: center;

}

a.show_info{
	color:#000000 !important;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	background-color: #3399FF;
	padding: 8px;

}

.page_heading{
	text-align: center;
	color:#4677b9;
	font-weight: bold;
	font-size: 18px;
	margin-top: 4px;
	margin-bottom: 4px;

}

#dialog-confirm{
	display: none;
}
