
</div>
<!-- End of .container-fluid -->

</div>
<!-- End of .main-content -->

</div>
<!-- End of .main-panel -->

</div>
<!-- end of .wrapper -->


<!--   Core JS Files   -->
<script src="/js/core/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/js/core/jquery-ui.min.js" type="text/javascript"></script>
<script src="/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/core/arrive.js" type="text/javascript"></script>
<script src="/js/core/material.min.js" type="text/javascript"></script>
<script src="/js/core/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>

<!-- jquery mask -->
<script type="text/javascript" src="/js/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<!-- <script src="<?php echo base_url(); ?>assets/vendor/bootstrap/js/bootstrap.min.js"></script> -->

<!-- Netdata Core JavaScript  -->
<!-- <script src="http://<?=$_SERVER{'SERVER_NAME'}?>:19999/dashboard.js" type="text/javascript"></script> -->

<!-- Metis Menu Plugin JavaScript -->
<script src="/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<!-- <script src="<?php echo base_url(); ?>assets/vendor/raphael/raphael.min.js"></script>
<script src="<?php echo base_url(); ?>assets/vendor/morrisjs/morris.min.js"></script>
<script src="<?php echo base_url(); ?>assets/data/morris-data.js"></script> -->

<script src="/js/DataTables-1.10.15/media/js/jquery.dataTables.min.js" charset="utf-8"></script>
<script src="/js/DataTables-1.10.15/media/js/dataTables.bootstrap.min.js" charset="utf-8"></script>
<script src="/js/Highcharts-5.0.12/code/highcharts.js" charset="utf-8"></script>
<script src="/js/Highcharts-5.0.12/code/modules/exporting.js" charset="utf-8"></script>

<script src="/js/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js" charset="utf-8"></script>
<script src="/js/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js" charset="utf-8"></script>

<script src="/js/jszip.min.js" charset="utf-8"></script>
<script src="/js/pdfmake/pdfmake.min.js" charset="utf-8"></script>
<script src="/js/pdfmake/vfs_fonts.js" charset="utf-8"></script>
<script src="/js/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js" charset="utf-8"></script>
<script src="/js/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js" charset="utf-8"></script>

<!-- <script src="<?php echo base_url(); ?>assets/js/jquery-validation-1.16.0/dist/jquery.validate.min.js" charset="utf-8"></script> -->
<script src="/js/jquery.form.min.js" charset="utf-8"></script>
<!-- <script src="<?php echo base_url(); ?>assets/js/jquery-ui-1.12.1.custom/jquery-ui.min.js" charset="utf-8"></script> -->

<script src="/js/jquery.redirect-master/jquery.redirect.js" charset="utf-8"></script>
<!-- <script src="<?php echo base_url(); ?>assets/js/flatpickr-master/dist/flatpickr.min.js" charset="utf-8"></script> -->



<!-- ax5 Core Javascript library -->
<!-- <script src="<?=base_url()?>assets/vendor/ax5/ax5core/dist/ax5core.min.js" type="text/javascript"></script>
<script src="<?=base_url()?>assets/vendor/ax5/ax5ui-toast/dist/ax5toast.min.js" type="text/javascript"></script>
<script src="<?=base_url()?>assets/vendor/ax5/ax5ui-dialog/dist/ax5dialog.min.js" type="text/javascript"></script>
<script src="<?=base_url()?>assets/vendor/ax5/ax5ui-autocomplete/dist/ax5autocomplete.min.js" type="text/javascript"></script> -->

<!-- Morris JS -->
<script src="/vendor/morrisjs/morris.js"></script>
<script src="/vendor/morrisjs/morris.min.js"></script>
<script src="/vendor/morrisjs/raphael-min.js"></script>



<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.js"></script>

<!-- Forms Validations Plugin -->
<script src="/js/core/jquery.validate.min.js"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="/js/plugins/moment.min.js"></script>
<!--  Charts Plugin -->
<script src="/js/plugins/chartist.min.js"></script>
<!--  Plugin for the Wizard -->
<script src="/js/plugins/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin    -->
<script src="/js/plugins/bootstrap-notify.js"></script>
<!-- DateTimePicker Plugin -->
<script src="/js/plugins/bootstrap-datetimepicker.js"></script>
<!-- Vector Map plugin -->
<script src="/js/plugins/jquery-jvectormap.js"></script>
<!-- Sliders Plugin -->
<script src="/js/plugins/nouislider.min.js"></script>
<!--  Google Maps Plugin    -->
<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
<!-- Select Plugin -->
<script src="/js/plugins/jquery.select-bootstrap.js"></script>
<!--  DataTables.net Plugin    -->
<!-- <script src="<?=base_url()?>assets/js/plugins/jquery.datatables.js"></script> -->
<!-- Sweet Alert 2 plugin -->
<script src="/js/plugins/sweetalert2.min.js"></script>
<!--	Plugin for Fileupload  -->
<script src="/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Full Calendar Plugin    -->
<script src="/js/plugins/fullcalendar.min.js"></script>
<!-- TagsInput Plugin -->
<script src="/js/plugins/jquery.tagsinput.js"></script>
<!-- Material sidebar-moving-tab javascript methods -->
<script src="/js/sidebar-moving-tab.js"></script>
<script src="/js/init/initMenu.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="/js/material-dashboard-angular.js"></script>

<script src="/js/flatpickr-master/dist/flatpickr.min.js" charset="utf-8"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="/js/demo.js"></script>

<!-- Fakeloader JS -->
<script src="/js/fakeLoader.js" charset="utf-8"></script>
<!-- daterangepicker -->
<script  src="/js/daterangepicker.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="/js/plugins/jquery.bootstrap-wizard.js"></script>
<script src="/js/init/initWizard.js"></script>



</body>
</html>
